.navbar {
    display: flex;
    font-size: 20px;
    gap: 20px;
    color: white;
    background: black;
    padding: 1rem;
    align-items: center;
    border-bottom: 1px solid white;
}

.navbar-brand {
    color: white;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
}

.navbar-links a:hover {
    color: #a88beb;
}